<%- include("_header") -%>




<div class="title">
<h1>Bet on <%= games.gameID %>   </h1>
<h3><i>Draw:</i> <%= games.draw %></h3>
</div>
 
<div class = "row">

  <div class="card" style="width:33%">
    <div class="container">
      <h4><b>Team 1</b></h4>
      <h6><b> Team <%= t1.teamID %></b></h6>
      <p><i> Win Percentage: </i><b> <%= t1.winPer %></b></p>
      <p> <i> Net Score:</i><b> <%= t1.netScore %></b></p>
      <p> <i> Net Efficiency:</i> <b><%= t1.netEff %></b></p>
    </div>
 
  </div>

  <div class="card" style="width:33%">
  <div class="container">
    <h4><b>Team 2</b></h4>
    <h6><b> Team <%= t2.teamID %></b></h6>
    <p> <i> Percentage:</i><b> <%= t2.winPer %></b></p>
    <p><i> Net Score: </i> <b> </b><%= t2.netScore %></b></p>
    <p> <i>Net Efficiency: </i> <b><%= t2.netEff %></b></p>
  </div>

</div> 

<div class="card" style="width:33%">
  <div class="container">
    <h4><b>Score</b></h4>
    <h6><i> Team 1: </i><b><%= games.team1score %></b></h6>
    <p> <i> Team 2:</i><b> <%= games.team2score %></b></p>
    <p><i> TotalScore: </i> <b> </b><%= games.team1score + games.team2score%></b></p>
    <p> <i>Team1:</i> <b><%= games.team1Result %></b> <i>Team2:</i> <b><%= games.team2Result %></b></p>
  </div>
</div>
</div>

<div class = "row"> </div>

<div class = "row">
<div class="card" style="width:33%">
  <div class="container">
    <h3><b>OverUnder</b></h3>
    <p> <b> You should bet $<%= ouResults.betAmount %> on <%= ouResults.ouBet %></b></p>
    <p> <i>Expected Score: </i> <b><%= ouResults.expScore %></b></p>
    <p> <i>OU:  </i> <b><%= games.ovUnd %></b></p>
    <p> <i>adjEdge:</i><b> <%= ouResults.adjEdge %></b></p>
    
  </div>
</div>

<div class="card" style="width:33%">
  <div class="container">
    <h3><b>Moneyline</b></h3>
    <p><b> You should bet $<%= mlResults.mlBetAmt %> on  <%= mlResults.mlBet %> </b></p>
    <p> <i>Edge:</i> <b><%= mlResults.mlEdge %> </b></p>
    <p> <i>Team 1 Imp Win %:</i> <b><%= mlResults.team1ImpPer %></b> </p>
    <p> <i>Win Per Differential:</i> <b><%= mlResults.lookAtWinPer %></b> </p>
    <p> <i>Score Differential:</i> <b><%= mlResults.lookAtNetScore %></b></p>
    <p> <i>Efficiency Differential:</i> <b><%= mlResults.lookAtNetEff %></b></p>
  
  </div>

</div>

<div class="card" style="width:33%">
  <div class="container">
    <h3><b>Points Spread</b></h3>
    <p><b> You should  <%= sprdResults.sprdBet %> on this game</b></p>
    <p> <i>Expected Differential (for T1)</i> <b><%= sprdResults.t1expNetScore %></b> </p>
    <p><i>Pts Spread Implied Diff (for T1) </i> <b><%= sprdResults.team1ptsSprd %> </b> </p>
    <p> <i>Total Discrepancy is </i> <b><%= sprdResults.team1ptsSprd - sprdResults.t1expNetScore %> </b> </p>
    <p> <i>Team 1 to cover per:</i> <b><%= sprdResults.team1sprdPer %></b> </p>
    <p> <i>Team 2 to cover per:</i> <b><%= sprdResults.team2sprdPer %></b> </p>
    
  </div>
</div>
</div>


<div class = "row">
  <a class="btn btn-sm btn-success" href="/games/bets/<%= games.id - 1 %>"> Previous Game</a>    
  <a class="btn btn-sm btn-success" href="/games/bets/<%= games.id + 1 %>"  > Next Game</a> 


</div>

<%- include("_footer") -%>

