<div class="form-group row">
  <label class="col-form-label col-sm-2" for="gameID">gameID</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" type="text" name="gameID"  step="0.01" value="<%= model.gameID%>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="tournament">tournament</label>
  <div class="col-sm-7">
    <input class="form-control" type="text" name="tournament"  value="<%= model.tournament %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="date">date</label>
  <div class="col-sm-7">
    <input class="form-control" name="text" type="date"  value="<%= model.date %>" />
  </div>
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="team1">Team 1</label>
  <div class="col-sm-8">
    <input autofocus class="form-control"   type="text" name="team1" value="<%= model.team1%>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="team1">Team 2</label>
  <div class="col-sm-8">
    <input autofocus class="form-control"   type="text" name="team2" value="<%= model.team2%>" />
  </div>
</div>

<div>-------</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="team1StraightOdds">Team 1 team1StraightOdds</label>
  <div class="col-sm-7">
    <input class="form-control" name="team1StraightOdds" type="number"  step="0.01" value="<%= model.team1StraightOdds %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="team2StraightOdds">Team 2 team1StraightOdds</label>
  <div class="col-sm-7">
    <input class="form-control" name="team2StraightOdds" type="number"  step="0.01" value="<%= model.team2StraightOdds %>" />
  </div>
</div>

<div>-------</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="spread">Spread</label>
  <div class="col-sm-7">
    <input class="form-control" name="ptsSprd" type="number"  step="0.01" value="<%= model.ptsSprd %>" />
  </div>
</div>


<div class="form-group row">
  <label class="col-form-label col-sm-2" for="team1SpreadOdds">Team 1 Spread</label>
  <div class="col-sm-7">
    <input class="form-control" name="team1SpreadOdds" type="number"  step="0.01" value="<%= model.team1SpreadOdds %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="team2SpreadOdds">Team 2 Spread</label>
  <div class="col-sm-7">
    <input class="form-control" name="team2SpreadOdds" type="number"  step="0.01" value="<%= model.team2SpreadOdds %>" />
  </div>
</div>



<div>-------</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="ovUnd">O/U</label>
  <div class="col-sm-7">
    <input class="form-control" type="number" name="ovUnd"  step="0.01" value="<%= model.ovUnd %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="ovUndLine">O/U line</label>
  <div class="col-sm-7">
    <input class="form-control" name="ovUndLine" type="number" step="0.01" value="<%= model.ovUndLine %>" />
  </div>
</div>


